@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@400;600;700;800&display=swap');

:root {
    --text-color: #666D83;
    --bg-grey: #f8f8fa;
    --bg-accent: #01032c;
    --bg-accent-2: #0756CF;
    --bg-primary: #FFFFFF;
}

body {
    font-family: 'Poppins';
    color: var(--text-color);
    background-color: var(--bg-primary);
}

section {
    padding-top: 3.75rem;
    padding-bottom: 6.25rem;
}

#hero-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(../images/DSC_0680-1.JPG);
    height: calc(100vh - 150px);
    min-height: 23rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.coloured-section {
    background-color: var(--bg-grey);
}

.logo-image {
    width: 50px;
    height: 50px;
}

a.nav-link {
    color: var(--bg-primary);
}

.nav-link.nav-content {
    color: var(--text-color);
}

.navbar-nav .nav-link.active,
.nav-link.nav-content:hover,
a.nav-link:hover {
    color: var(--bg-accent-2)!important;
    font-weight: bold;
}

.offcanvas {
    background-color: var(--bg-grey);
}

p,
a {
    font-family: 'Poppins';
}

h1 {
    font-size: 2.375rem;
}

h3 {
    color: var(--bg-accent);
    font-size: 2rem;
}

h5 {
    font-size: 1.25rem;
    color: var(--bg-accent-2);
}

h6 {
    font-family: 'Patrick Hand';
    font-size: 2.5rem;
    width: 20%;
}

.span {
    font-size: 56px;
    line-height: 60px;
}

.blob {
    background-color: var(--bg-accent);
    width: 300px;
    height: 450px;
}

#aboutUs {
    gap: 200px;
}

.about-us-img {
    position: absolute;
    left: 95px;
    top: 73px;
}

.about-us-img2{
    display: none;
}

.about-us-content {
    width: 530px;
}

.benefit-card {
    width: 420px;
    background-color: white;
    padding: 32px 19.2px;
    border-radius: 20px;
}

.benefit-img {
    width: 32px;
}

#facilities {
    padding-bottom: 160px;
}

.facilities-wrapper {
    width: calc(100% - 200px);
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: start;
}

.facilities-wrapper::-webkit-scrollbar {
    width: 3px;
}

.facilities-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background-color: var(--bg-primary);
}

.facilities-img {
    object-fit: cover;
    width: 244px;
    height: 244px;
    transition: transform 1s;
}

.facilities-img:hover {
    transform: rotate(20deg);
}

.cta-section::before {
    content: '';
    height: 75px;
    background-color: var(--bg-grey);
    position: absolute;
    top: -37px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);
}

.cta-section {
    padding-top: 3.75rem;
    padding-bottom: 5rem;
}

.btn.cta-btn {
    background-color: var(--bg-accent-2);
}

.btn.cta-btn:hover,
.btn.cta-btn:active {
    background-color: var(--bg-accent-2);
    opacity: 0.7;
}

.footer-section {
    background-color: var(--bg-accent-2);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.footer-img {
    width: 30px;
}

/******************************    Mobile Design    *********************************/

@media screen and (min-width: 1450px) {
    .facilities-wrapper{
        justify-content: center;
    }
}

@media screen and (max-width: 1399px) {
    h6 {
        width: 25%;
    }
}

@media screen and (max-width: 1199px) {
    h6 {
        width: 29%;
    }

    .about-us-content {
        width: 550px;
    }

    #aboutUs {
        gap: 150px;
    }

    .about-us-img {
        width: 270px;
        left: 110px;
        top: 84px;
    }
}

@media screen and (max-width: 1130px) {
    .facilities-wrapper {
        width: 900px;
    }
}

@media screen and (max-width: 1049px) {
    #aboutUs {
        gap: 130px;
    }

    .about-us-content {
        width: 520px;
    }
}

@media screen and (max-width: 991px) {
    .blob {
        width: 200px;
    }

    body::before {
        height: 80px;
    }

    .offcanvas.offcanvas-end {
        width: 40%;
    }

    h1 {
        font-size: 2.1875rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 36px;
        width: 35%;
    }

    .span {
        font-size: 50px;
        line-height: 57px;
    }

    #aboutUs {
        gap: 150px;
    }

    .about-us-img {
        width: 250px;
        top: 93px;
        left: 32px;
    }


    .benefit-card {
        width: 390px;
    }

    .facilities-wrapper {
        width: 748px;
    }

    .cta-section::before {
        height: 55px;
        top: -30px;
    }

    .cta-section {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
}

@media screen and (max-width: 917px) {
    .blob {
        width: 180px;
    }

    #aboutUs {
        gap: 150px;
    }

    .about-us-content {
        width: 500px;
    }
}

@media screen and (max-width: 870px) {
    .benefit-card {
        width: 360px;
    }

    #aboutUs {
        flex-direction: column;
        gap: 3rem;
        padding: 3.75rem 1.5rem;
    }

    .welcome {
        text-align: center;
    }

    .blob{
        display: none;
    }

    .about-us-img {
        display: none;
    }

    .about-us-img2{
        width: 230px;
        display: block;
    }

    .about-us-content {
        width: 75%;
    }

    #facilities {
        padding-bottom: 110px;
    }
}

@media screen and (max-width: 820px) {
    .benefit-wrapper1,
    .benefit-wrapper2 {
        flex-direction: column;
    }

    .benefit-card {
        width: 430px;
    }
}

@media screen and (max-width: 799px) {
    .facilities-img {
        width: 196px;
        height: 196px;
    }
}

@media screen and (max-width: 767px) {
    section,
    #aboutUs,
    #facilities {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .span {
        font-size: 45px;
        line-height: 2.7rem;
    }

    #aboutUs {
        gap: 1.5rem;
    }

    .about-us-content {
        width: 80%;
    }

    .facilities-wrapper {
        width: calc(100vw - 30px);
        padding-bottom: 1rem;
    }

    .offcanvas.offcanvas-end {
        width: 50%;
    }

    .cta-section {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h6 {
        font-size: 32px;
        width: 43%;
    }

    .check-icon {
        width: 23px;
    }

    .cta-section::before {
        height: 30px;
        top: -1rem;
        transform: skewY(-2deg);
    }
}

@media screen and (max-width: 623px) {
    .about-us-content {
        width: 90%;
    }
}

@media screen and (max-width: 575px) {
    h3 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1.75rem;
        width: 35%
    }

    .logo-image {
        width: 50px;
    }

    .facilities-wrapper {
        width: 100vw;
    }
}

@media screen and (max-width: 541px) {
    h6 {
        text-align: center;
        width: 100%;
    }

    .about-us-content {
        width: 100%;
    }

    .cta-wrapper {
        flex-direction: column;
        gap: 1.25rem !important;
    }
}

@media screen and (max-width: 470px) {
    .offcanvas.offcanvas-end {
        width: 80%;
    }

    h1 {
        font-size: 28px;
    }

    .span {
        font-size: 38px;
        line-height: 44px;
    }

    .benefit-card {
        width: auto;
    }
}